/* General Resets and Basic Styles */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Header and Navigation */

header {
    background-color: #555;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #777;
}

/* Dropdown Functionality */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #555;
    z-index: 1;
    border-top: 2px solid #777;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #777;
}

/* Product Listings */

.lista-produse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.produs {
    flex-basis: 30%;
    background-color: #fff;
    margin: 1%;
    padding: 1%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.produs img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: auto;
    object-fit: cover; 
    border-radius: 5px;   /* Optional: to give images a rounded edge */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);  /* Optional: to give images a slight shadow */
}



/* Buttons */

button {
    background-color: #ff6a00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff8a30;
}

/* Forms and Filters */

form {
    padding: 20px;
    text-align: center;
}
